#### Setup

In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer

#### Load Data

In [13]:

test = pd.read_csv('test.csv', index_col = 'PassengerId')
train = pd.read_csv('train.csv', index_col = 'PassengerId')
data = [train, test]

#### Clean Data

In [14]:
# Null Values
for df in data:
    mean_age = df['Age'].mean()
    df['Age'] = df['Age'].fillna(mean_age)
    df['Age'] = df['Age'].astype(int)
    mode_embarked = df['Embarked'].mode()[0]
    df['Embarked'] = df['Embarked'].fillna(mode_embarked)
    df['Embarked'] = df['Embarked'].astype(str)

# Feature Engineering
for df in data:
    df['FamilySize'] = df['SibSp'] + df['Parch']
    df['DeltaFare'] = df['Fare'] - df['Fare'].mean()

for df in data:
    print (df.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex  Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male   22
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38
3                                       Heikkinen, Miss. Laina  female   26
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35
5                                     Allen, Mr. William Henry    male   35

             SibSp  Parch            Ticket     Fare Cabin Embarked  \
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

             FamilySize  DeltaFare
PassengerId
1                     1 -24.954208
2                     1  39.079092
3                     0 -24.279208
4                     1  20.895792
5                     0 -24.154208
             Pclass                                          Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

             Age  SibSp  Parch   Ticket     Fare Cabin Embarked  FamilySize  \
PassengerId
892           34      0      0   330911   7.8292   NaN        Q           0
893           47      1      0   363272   7.0000   NaN        S           1
894           62      0      0   240276   9.6875   NaN        Q           0
895           27      0      0   315154   8.6625   NaN        S           0
896           22      1      1  3101298  12.2875   NaN        S           2

             DeltaFare
PassengerId
892         -27.797988
893         -28.627188
894         -25.939688
895         -26.964688
896         -23.339688

#### Data Preprocessing

In [17]:
cat_cols = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Cabin', 'Embarked', 'FamilySize']
num_cols = ['Age', 'Fare', 'DeltaFare']
str_cols = ['Name', 'Ticket']

# Encoding
encoder = OneHotEncoder()
for df in data:
    for col in cat_cols:
        encoded_col = encoder.fit_transform(df[[col]])
        encoded_df = pd.DataFrame(encoded_col.toarray(), columns=encoder.get_feature_names_out([col]))
        df = df.join(encoded_df)
        df.drop(col, axis = 1, inplace=True)

# StandardScale
scaler = StandardScaler()
for df in data:
    for col in num_cols:
        scaled_col = scaler.fit_transform(df[[col]])
        df[col] = scaled_col

# Tokenize
tokenizer = Tokenizer()
for df in data:
    for col in str_cols:
        tokenizer.fit_on_texts(df[col])
        tokenized_col = tokenizer.texts_to_matrix(df[col])
        tokenized_df = pd.DataFrame(tokenized_col, columns=[f"{col}_{i}" for i in range(tokenized_col.shape[1])])
        df = df.join(tokenized_df)
        df.drop(col, axis = 1, inplace=True)

for df in data:
    print(df)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex  \
PassengerId
1                                      Braund, Mr. Owen Harris    male
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female
3                                       Heikkinen, Miss. Laina  female
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
5                                     Allen, Mr. William Henry    male
...                                                        ...     ...
887                                      Montvila, Rev. Juozas    male
888                               Graham, Miss. Margaret Edith  female
889                   Johnston, Miss. Catherine Helen "Carrie"  female
890                                      Behr, Mr. Karl Howell    male
891                                        Dooley, Mr. Patrick    male

                  Age  SibSp  Parch            Ticket      Fare Cabin  \
PassengerId
1           -0.580044      1      0         A/5 21171 -0.502445   NaN
2            0.650112      1      0          PC 17599  0.786845   C85
3           -0.272505      0      0  STON/O2. 3101282 -0.488854   NaN
4            0.419458      1      0            113803  0.420730  C123
5            0.419458      0      0            373450 -0.486337   NaN
...               ...    ...    ...               ...       ...   ...
887         -0.195620      0      0            211536 -0.386671   NaN
888         -0.810699      0      0            112053 -0.044381   B42
889         -0.041851      1      2        W./C. 6607 -0.176263   NaN
890         -0.272505      0      0            111369 -0.044381  C148
891          0.188804      0      0            370376 -0.492378   NaN

            Embarked  FamilySize  DeltaFare
PassengerId
1                  S           1  -0.502445
2                  C           1   0.786845
3                  S           0  -0.488854
4                  S           1   0.420730
5                  S           0  -0.486337
...              ...         ...        ...
887                S           0  -0.386671
888                S           0  -0.044381
889                S           3  -0.176263
890                C           0  -0.044381
891                Q           0  -0.492378

[891 rows x 13 columns]
             Pclass                                          Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female
...             ...                                           ...     ...
1305              3                            Spector, Mr. Woolf    male
1306              1                  Oliva y Ocana, Dona. Fermina  female
1307              3                  Saether, Mr. Simon Sivertsen    male
1308              3                           Ware, Mr. Frederick    male
1309              3                      Peter, Master. Michael J    male

                  Age  SibSp  Parch              Ticket      Fare Cabin  \
PassengerId
892          0.301339      0      0              330911 -0.497811   NaN
893          1.329905      1      0              363272 -0.512660   NaN
894          2.516711      0      0              240276 -0.464532   NaN
895         -0.252504      0      0              315154 -0.482888   NaN
896         -0.648106      1      1             3101298 -0.417971   NaN
...               ...    ...    ...                 ...       ...   ...
1305        -0.015143      0      0           A.5. 3236 -0.493856   NaN
1306         0.696941      0      0            PC 17758  1.312180  C105
1307         0.617821      0      0  SOTON/O.Q. 3101262 -0.508183   NaN
1308        -0.015143      0      0              359309 -0.493856   NaN
1309        -0.015143      1      1                2668 -0.237621   NaN

            Embarked  FamilySize  DeltaFare
PassengerId
892                Q           0  -0.497811
893                S           1  -0.512660
894                Q           0  -0.464532
895                S           0  -0.482888
896                S           2  -0.417971
...              ...         ...        ...
1305               S           0  -0.493856
1306               C           0   1.312180
1307               S           0  -0.508183
1308               S           0  -0.493856
1309               C           2  -0.237621

[418 rows x 12 columns]

In [ ]:
# Neural Network Processing
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

model = Sequential([
    tf.keras.Layers.Dense(128, activation = 'relu', input_shape = (train.shape[1],)),
    tf.keras.Layers.Dense(128, activation = 'relu'),
    tf.keras.Layers.Dense(1, activation = 'sigmoid')
])

adam = keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=adam, loss='binary_crossentropy', metrics=['accuracy'])

model.fit(train, train['Survived'], epochs=10, batch_size=32)