#### Imports

In [55]:
import numpy as np
import pandas as pd

#### Import Data

In [56]:
test = pd.read_csv(r'test.csv')
train = pd.read_csv(r'train.csv')
data = [train, test]

#### Cleaning

In [57]:
#Change Sex to an int
for df in data:
    df.loc[df['Sex'] == 'male', 'Sex'] = 0
    df.loc[df['Sex'] == 'female', 'Sex'] = 1

for df in data:
    print(df)

#fill null values
for df in data:
    mean_age = df['Age'].mean()
    df['Age'] = df['Age'].fillna(mean_age)
    df['Age'] = df['Age'].astype(int)
    mode_embarked = df['Embarked'].mode()[0]
    df['Embarked'] = df['Embarked'].fillna(mode_embarked)
    df['Embarked'] = df['Embarked'].astype(str)
    
#Encode Embarked
for df in data:
    df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
2                               Heikkinen, Miss. Laina   1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
4                             Allen, Mr. William Henry   0  35.0      0
..                                                 ...  ..   ...    ...
886                              Montvila, Rev. Juozas   0  27.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1   NaN      1
889                              Behr, Mr. Karl Howell   0  26.0      0
890                                Dooley, Mr. Patrick   0  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
     PassengerId  Pclass                                          Name Sex  \
0            892       3                              Kelly, Mr. James   0
1            893       3              Wilkes, Mrs. James (Ellen Needs)   1
2            894       2                     Myles, Mr. Thomas Francis   0
3            895       3                              Wirz, Mr. Albert   0
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)   1
..           ...     ...                                           ...  ..
413         1305       3                            Spector, Mr. Woolf   0
414         1306       1                  Oliva y Ocana, Dona. Fermina   1
415         1307       3                  Saether, Mr. Simon Sivertsen   0
416         1308       3                           Ware, Mr. Frederick   0
417         1309       3                      Peter, Master. Michael J   0

      Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0    34.5      0      0              330911    7.8292   NaN        Q
1    47.0      1      0              363272    7.0000   NaN        S
2    62.0      0      0              240276    9.6875   NaN        Q
3    27.0      0      0              315154    8.6625   NaN        S
4    22.0      1      1             3101298   12.2875   NaN        S
..    ...    ...    ...                 ...       ...   ...      ...
413   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  39.0      0      0            PC 17758  108.9000  C105        C
415  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416   NaN      0      0              359309    8.0500   NaN        S
417   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

#### Feature Engineering

In [58]:
#Add FamilySize Column
test['FamilySize'] = test['SibSp'] + test['Parch']
train['FamilySize'] = train['SibSp'] + train['Parch']

#### Modeling and Output

In [59]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

y = train["Survived"]

features = ['Pclass', 'Sex', 'FamilySize', 'Fare', 'Embarked']
X = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])

rfc = RandomForestClassifier(n_estimators = 1000, max_depth = 10, random_state = 1)
rfc.fit(X, y)
predictions = rfc.predict(X_test)

output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index = False)